/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-disable comment-empty-line-before */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable color-function-notation */
/* stylelint-disable no-missing-end-of-source-newline */

html,
body {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

img {
  display: block;
}

@font-face {
  font-family: bomb-sound;
  src: url("font/SkillsvilleTheBombSound.ttf");
}

/* *****SELECTOR STYLES**** */

.selector-selector .card {
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  margin: 10px;
  padding: 10px;
  padding-bottom: 28px;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
  width: 200px;
}

.selector-selector .card:hover {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

/* These classnames use
  * the slug of the video selector you would like to style.
  * Every video selector is wrapped with its own slug
  * as a classname so that it can be targeted and have different styles.
*/

.skillsville.video-selector {
  background-image: url("./img/hexbg.png");
  background-color: #ff6f00;
  height: 1080px;
  position: absolute;
  width: 1920px;
}

.skillsville .language-switcher {
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 900px;
  width: 100%;
}

.skillsville .language-switcher .language {
  background-color: transparent;
  border: 5px solid white;
  border-radius: 35px;
  color: white;
  font-size: 40px;
  font-weight: 700;
  padding: 5px 40px;
}

.skillsville .language-switcher .language:active {
  background-color: white;
  color: #ff6f00;
  scale: 0.8;
}

.skillsville .language-switcher .selected {
  background-color: white;
  border: 5px solid white;
  border-radius: 35px;
  color: #ff6f00;
  font-size: 40px;
  font-weight: 700;
  padding: 5px 40px;
}

.skillsville .language-switcher a {
  color: white;
  text-decoration: none;
}

.skillsville .lang-border1,
.lang-border2,
.lang-border3 {
  padding: 8px;
}

.skillsville .lang-border1 {
  border: 5px solid rgba(255, 255, 255, 60%);
  border-radius: 45px;
}

.skillsville .lang-border2 {
  border: 5px solid rgba(255, 255, 255, 30%);
  border-radius: 55px;
}

.skillsville .lang-border3 {
  border: 5px solid rgba(255, 255, 255, 15%);
  border-radius: 65px;
  margin: 0 25px;
  position: relative;
  top: -40px;
}

.skillsville .lang-border3-blank {
  margin: 0 25px;
}

.skillsville .lang-selected {
  background-color: white;
  color: #ff6f00;
  animation: pulse-animation 1s;
}

.skillsville .captions {
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 940px;
  left: 530px;
  width: 1000px;
  height: 96px;
  z-index: 560;
}

.skillsville .captions p {
  color: black;
  font-size: 38px;
  margin: 25px 0 0 50px;
}

.skillsville .hide-player-wrapper {
  opacity: 0;
  transition: opacity 1s;
}

.skillsville .show-player-wrapper {
  opacity: 1;
  transition: opacity 1s;
}

.skillsville .wrapper {
  background-color: black;
}

.skillsville .attract-wrapper {
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 600;
}

.skillsville .attract-wrapper .attract-container {
  left: 0;
  position: absolute;
}

.skillsville .attract-wrapper .attract-cta {
  position: absolute;
  top: 558px;
  left: 1403px;
}

.skillsville .attract-wrapper.hide-attract-wrapper {
  z-index: -5;
}

/* .skillsville .attract-wrapper.hide-attract-wrapper {
  left: -100vw;
  transition: left 0.5s cubic-bezier(0.5, 0, 1, 1) 1s;
}

.skillsville .attract-wrapper.hide-attract-wrapper .attract-container {
  left: -100vw;
  transition: left 0.75s cubic-bezier(0.665, -0.11, 0.735, 0.045);
}

.skillsville .attract-wrapper.hide-attract-wrapper .attract-cta {
  left: -100vw;
  transition: left 0.95s cubic-bezier(0.665, -0.11, 0.735, 0.045) 0.2s;
} */

.attract-cta .attract-cta-text-ring {
  background: url("img/cta-ring.svg") no-repeat;
  display: inline-block;
  width: 416.5px;
  height: 416.5px;
  animation: spin 10s linear infinite;
  position: relative;
  z-index: 1;
}

.attract-cta .attract-cta-bg-ring::before {
  content: "";
  display: block;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: solid rgb(255 111 0 / 50%);
  border-width: 93px;
  margin: -93px;
  z-index: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.attract-cta .cta-button {
  position: absolute;
  top: 25%;
  left: 20%;

  div {
    display: inline-block;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .background {
    background: url("img/btn-background.svg") no-repeat;
    top: 15px;
  }

  .button {
    background: url("img/btn-button.svg") no-repeat;
    left: 26.18px;
    animation: button-down-up 2s infinite linear;
  }

  .foreground {
    background: url("img/btn-foreground.svg") no-repeat;
    top: 69px;
    left: 3.11px;
  }
}

@keyframes button-down-up {
  10% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(34px);
  }

  19% {
    transform: translateY(22px);
  }

  80% {
    transform: translateY(22px);
  }

  85% {
    transform: translateY(34px);
  }

  90% {
    transform: translateY(-5px);
  }

  92% {
    transform: translateY(0);
  }
}

.skillsville #player-container {
  display: flex;
  height: 1080px;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1920px;
}

.skillsville .box {
  position: absolute;
  width: 80%;
  bottom: 0;
}

.skillsville .box-border {
  position: absolute;
  width: 80%;
  bottom: 0;
}

.skillsville .branding-logo {
  height: 130px;
  margin-left: 180px;
  position: absolute;
  top: 940px;
  z-index: 550;
}

.skillsville video {
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.skillsville .icon {
  background: url("img/arrow.svg") no-repeat;
  color: white;
  height: 105px;
  width: 105px;
}

.skillsville .icon:active {
  scale: 0.8;
}

.skillsville .transport-container {
  left: 70px;
  position: absolute;
  top: 960px;
  z-index: 550;
  animation: pulse-side-animation 2.5s;
  animation-iteration-count: infinite;
}

.skillsville .modal-container {
  background: #1d0596;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: bomb-sound, sans-serif;
  font-size: 64px;
  position: absolute;
  height: 1080px;
  width: 1920px;
  top: 0;
  left: 0;
}

.skillsville .modal-container .header {
  display: flex;
  justify-content: center;
  margin-top: 450px;
}

.skillsville .modal-container .header .title-container {
  border-bottom: 3px solid white;
  padding: 20px;
}

.skillsville .modal-container .yes-no-container {
  display: flex;
  margin: 100px 250px 0;
  justify-content: space-around;
}

.skillsville .no,
.yes {
  background-image: url("img/no.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 200px;
}

.skillsville .yes {
  background-image: url("img/yes.svg");
}

.skillsville .yes:active {
  background-image: url("img/yes-select.svg");
}

.skillsville .yes-selected {
  background-image: url("img/yes.svg");
  animation: pulse-animation 0.5s;
}

.skillsville .no:active {
  scale: 0.7;
  animation: rotate-animation 0.5s;
}

@keyframes pulse-animation {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

@keyframes pulse-side-animation {
  0% { left: 40px; }
  50% { left: 55px; }
  100% { left: 40px; }
}

@keyframes rotate-animation {
  from { transform: rotate(0deg); }
  to { transform: rotate(-45deg); }
}

@keyframes rotate-animation2 {
  from { scale: 0.7; }
  to { scale: 1; }
}

.skillsville .no-selected {
  animation: rotate-animation2 0.5s;
}

.skillsville .modal-hide {
  opacity: 0;
  z-index: -5;
}

.skillsville .modal-show {
  opacity: 1;
  z-index: 500;
}

.skillsville .swiper-wrapper {
  height: 900px;
  top: -20px;
}

.skillsville .hide-selection,
.show-selection {
  position: absolute;
  height: 250px;
  width: 250px;
}

.skillsville .hide-selection {
  z-index: -1;
}

.skillsville .show-selection {
  position: absolute;
  top: 0;
  z-index: 500;
  filter: drop-shadow(-20px 30px 30px rgba(50, 50, 0, 50%));
}

.skillsville .show-selection:active {
  transform: scale(0.9);
}

.skillsville .slide {
  top: 80px;
  right: 140px;
}

.skillsville .bottom-slide {
  top: 260px;
}

.skillsville .swiper-pagination {
  display: none;
}

.skillsville .thumb-container {
  background-size: cover;
  clip-path: url("#myClip");
  position: absolute;
  height: 500px;
  width: 500px;
  top: -80px;
  left: -140px;
}

.skillsville .border {
  clip-path: url("#myClip");
  position: absolute;
  top: -80px;
  left: -140px;
}

.skillsville .border:active {
  filter: drop-shadow(0 0 5px white);
}

.skillsville .thumb-modal,
.border-modal {
  left: 710px !important;
  top: 100px !important;
  scale: 1.1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-button-prev,
.swiper-button-next {
  background-image: url("img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(20px 20px 20px rgba(50, 50, 0, 90%));
  height: 150px !important;
  top: 720px !important;
  width: 150px !important;
}

.swiper-button-prev {
  margin-left: 100px;
}

.swiper-button-next {
  margin-right: 100px;
  transform: rotate(180deg);
  filter: drop-shadow(20px -20px 20px rgba(50, 50, 0, 90%));
}

.swiper-button-next:active,
.swiper-button-prev:active {
  scale: 0.8;
}

.skillsville .logo {
  display: flex;
  justify-content: center;
}

.skillsville .logo img {
  height: 150px;
}
