/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-disable comment-empty-line-before */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-missing-end-of-source-newline */

html,
body {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

img {
  display: block;
}

@font-face {
  font-family: bomb-sound;
  src: url("font/the-bomb-sound.regular.ttf");
}
/* *****SELECTOR STYLES**** */

.selector-selector .card {
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  margin: 10px;
  padding: 10px;
  padding-bottom: 28px;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
  width: 200px;
}

.selector-selector .card:hover {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

/* These classnames use
  * the slug of the video selector you would like to style.
  * Every video selector is wrapped with its own slug
  * as a classname so that it can be targeted and have different styles.
*/

.skillsville.video-selector {
  background-color: #ff6f00;
  height: 1080px;
  position: absolute;
  width: 1920px;
}

.skillsville .hide-selection {
  z-index: -1;
}

.skillsville .show-selection {
  z-index: 500;
}

.skillsville .language-switcher {
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 900px;
  width: 100%;
  z-index: 300;
}

.skillsville .language-switcher .language {
  background-color: #ff6f00;
  border: 5px solid white;
  border-radius: 50px;
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin: 0 30px;
  padding: 5px 40px;
}

.skillsville .language-switcher a {
  color: white;
  text-decoration: none;
}

.skillsville .captions {
  background-color: pink;
  color: blue;
  position: absolute;
  text-align: center;
  top: 950px;
  width: 1920px;
}

.skillsville .captions.es {
  background-color: orange;
  color: purple;
  position: absolute;
  top: 1000px;
}

.skillsville .hide-player-wrapper {
  opacity: 0;
  transition: opacity 1s;
}

.skillsville .show-player-wrapper {
  opacity: 1;
  transition: opacity 1s;
}

.skillsville .hide-attract-wrapper {
  opacity: 0;
  transition: opacity 1s;
}

.skillsville .wrapper {
  background-color: black;
}

.skillsville .attract-wrapper {
  background-color: black;
}

.skillsville #player-container {
  display: flex;
  height: 1080px;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1920px;
}

.skillsville video {
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.skillsville .icon {
  background: url("img/back.svg") no-repeat;
  color: white;
  height: 65px;
  width: 65px;
}

.skillsville .transport-container {
  background-color: green;
  border-radius: 50%;
  left: 50px;
  position: absolute;
  top: 800px;
  z-index: 5;
}

.skillsville .attract-cta {
  background-color: blue;
  color: white;
  font-size: 34px;
  left: 500px;
  padding: 20px;
  position: absolute;
  top: 800px;
}

.skillsville .loading {
  background-color: orange;
  color: black;
  padding: 50px;
  position: absolute;
  top: 0;
}

.skillsville .modal-container {
  background: #001b8ae5;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: bomb-sound, sans-serif;
  font-size: 64px;
  position: absolute;
  height: 1080px;
  width: 1920px;
  top: 0;
  left: 0;
  opacity: 0.9;
}

.skillsville .modal-container .header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.skillsville .modal-container .header .title-container {
  border-bottom: 3px solid white;
  padding: 20px;
}

.skillsville .modal-container .yes-no-container {
  display: flex;
  margin: 100px 250px 0;
  justify-content: space-around;
}

.skillsville .no,
.yes {
  background-image: url("img/no.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 200px;
}

.skillsville .yes {
  background-image: url("img/yes.svg");
}

.skillsville .modal-hide {
  opacity: 0;
  z-index: -5;
}

.skillsville .modal-show {
  opacity: 1;
  z-index: 500;
}

/* .skillsville .hexagon {
  filter: drop-shadow(rgb(164 105 66) 0 25px 35px);
  height: 370px;
  position: relative;
  width: 420px;
}

.skillsville .hexagon .shape {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.skillsville .hexagon img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.skillsville .hexagon .shape img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
} */

.skillsville .swiper-wrapper {
  height: 900px;
  top: -40px;
}

.skillsville .bottom-slide {
  right: 280px;
  top: 185px;
}

.skillsville .top-slide {
  right: 280px;
}

.skillsville .swiper-pagination {
  display: none;
}

.skillsville .thumb-container {
  background-size: cover;
  clip-path: url("#myClip");
  height: 500px;
  width: 500px;
}

.skillsville .thumb-modal {
  margin: auto;
}

.skillsville .border {
  position: absolute;
  top: 19px;
}

.skillsville .border-modal {
  margin: auto;
  position: absolute;
  top: 70px;
  left: 710px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-button-prev,
.swiper-button-next {
  background-image: url("img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px !important;
  top: 720px !important;
  width: 150px !important;
  z-index: 1000;
}

.swiper-button-prev {
  margin-left: 100px;
}

.swiper-button-next {
  margin-right: 100px;
  transform: rotate(180deg);
}

/* .swiper-button-next:active,
.swiper-button-prev:active {
  background-image: url(../images/nav-arrow-active.svg);
} */

.skillsville .logo {
  display: flex;
  justify-content: center;
}

.skillsville .logo img {
  height: 150px;
}

.skillsville .lang-btn-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 750px;
  width: 100%;
  z-index: 500;
}

p {
  color: white;
}