/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-missing-end-of-source-newline */

html,
body {
  font-family: open-sans, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

img {
  display: block;
}

/* *****EXAMPLE STYLES**** */

.selector-selector .card {
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  margin: 10px;
  padding: 10px;
  padding-bottom: 28px;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
  width: 200px;
}

.selector-selector .card:hover {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

/* These `example` classnames should be replaced with
  * the slug of the video selector you would like to style.
  * Every video selector is wrapped with its own slug
  * as a classname so that it can be targeted and have different styles.
*/

.example.video-selector {
  background-color: aqua;
  height: 1080px;
  width: 1920px;
}

.example .graphic {
  height: 1080px;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 1920px;
}

.example .title-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.example .title.es {
  color: purple;
}

.example .title.en-US {
  color: blue;
}

.example .title.fr {
  color: green;
}

.example .selection-item {
  border: 1px solid black;
  margin: 20px;
  max-height: 400px;
  width: 200px;

  /* make sure buttons are above background */
  z-index: 500;
}

.example .hide-selection {
  z-index: -1;
}

.example .selection-item img {
  height: 200px;
  width: 200px;
}

.example .selection-container {
  display: flex;
  justify-content: center;
}

.example .language-switcher {
  bottom: 42px;
  color: white;
  font-size: 20px;
  font-weight: 900;
  left: 40px;
  outline: none;
  position: absolute;
}

.example .language-switcher .language {
  background-color: rgb(255 255 255 / 25%);
  border-radius: 5px;
  margin-right: 15px;
  padding: 7px;
}

.example .language-switcher .language a {
  color: white;
  text-decoration: none;
}

.example .captions {
  background-color: pink;
  color: blue;
  position: absolute;
  text-align: center;
  top: 950px;
  width: 1920px;
}

.example .captions.fr {
  background-color: peachpuff;
  color: green;
  position: absolute;
  top: 975px;
}

.example .captions.es {
  background-color: orange;
  color: purple;
  position: absolute;
  top: 1000px;
}

.example .selection-title {
  display: flex;
  justify-content: center;
}

.example .selection-title.en-US {
  color: blue;
}

.example .selection-title.fr {
  color: green;
}

.example .selection-title.es {
  color: purple;
}

.example .divider {
  border: 1px solid blue;
  width: 50%;
}

.example .divider.fr {
  border: 1px solid green;
}

.example .divider.es {
  border: 1px solid purple;
}

.example .hide-player-wrapper {
  opacity: 0;
  transition: opacity 1s;
}

.example .show-player-wrapper {
  opacity: 1;
  transition: opacity 1s;
}

.example .wrapper {
  background-color: black;
}

.example #player-container {
  display: flex;
  height: 1080px;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1920px;
}

.example video {
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.example .progress {
  background: white;
  height: 20px;
  position: absolute;
  top: 1055px;
  width: 1920px;
}

.example .progress-fill {
  background-color: gold;
  height: 20px;
}

.example .icon {
  background: url("back.svg") no-repeat;
  color: white;
  height: 65px;
  width: 65px;
}

.example .transport-container {
  background-color: green;
  border-radius: 50%;
  left: 50px;
  position: absolute;
  top: 800px;
}

.example .loading {
  background-color: orange;
  color: black;
  padding: 50px;
  position: absolute;
  top: 0;
}

/* These are styles for a "youtube" style selector display */

.example-list.video-selector {
  /* to be filled */
}

.example-list .graphic {
  /* to be filled */
}

.example-list .title-container {
  border: 1px solid purple;
  display: flex;
  justify-content: space-around;
}

.example-list .title.es {
  color: purple;
}

.example-list .title.en-US {
  color: blue;
}

.example-list .title.fr {
  color: green;
}

.example-list .selection-item {
  border: 1px solid black;
  height: 150px;

  /* make sure buttons are above background */
  z-index: 500;
}

.example-list .divider {
  display: none;
}

.example-list .selection-item img {
  height: 150px;
  padding-right: 5px;
  width: 150px;
}

.example-list .selection-container {
  left: 1100px;
  position: absolute;
  top: 100px;
  width: 300px;
}

.example-list .language-switcher {
  bottom: 42px;
  color: white;
  font-size: 20px;
  font-weight: 900;
  left: 40px;
  outline: none;
  position: absolute;
}

.example-list .language-switcher .language {
  background-color: rgb(255 255 255 / 25%);
  border-radius: 5px;
  margin-right: 15px;
  padding: 7px;
}

.example-list .language-switcher .language a {
  color: white;
  text-decoration: none;
}

.example-list .captions {
  background-color: pink;
  color: blue;
  left: 20px;
  position: absolute;
  text-align: center;
  top: 625px;
  width: 1270px;
}

.example-list .captions.fr {
  background-color: peachpuff;
  color: green;
  position: absolute;
  top: 645px;
}

.example-list .captions.es {
  background-color: orange;
  color: purple;
  position: absolute;
  top: 665px;
}

.example-list .selection-title {
  left: 170px;
  position: relative;
  top: -160px;
}

.example-list .selection-title.en-US {
  color: blue;
}

.example-list .selection-title.fr {
  color: green;
}

.example-list .selection-title.es {
  color: purple;
}

.example-list .wrapper {
  background-color: black;
}

.example-list #player-container {
  display: flex;
  height: 500px;
  justify-content: center;
  left: 20px;
  position: absolute;
  top: 100px;
}

.example-list .progress {
  background: white;
  height: 20px;
  left: 20px;
  position: absolute;
  top: 605px;
  width: 1270px;
}

.example-list .progress-fill {
  background-color: gold;
  height: 15px;
}

.example-list .loading {
  background-color: orange;
  color: black;
  padding: 50px;
  position: absolute;
  top: 0;
}